* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace; 
}
body {
  margin: 0;
}
.container {
  background-color: lightgray;
  padding-right: 3px;
  padding-bottom: 3px;
  border-radius: 4px;
  width: 75%;
  margin: auto;
}
.title {
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: #0099ff;
  color: #FFF;
}
.contact-form {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 4px;
  border: #0099ff 2px solid;
}
input[type=text], input[type=email], input[type=tel], input[type=password], .textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.textarea {
  height: 100px;
  resize: none;
}
.button {
  width: 100%;
  background-color: #0099ff;
  color: #FFF;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}
.button:hover {
  background-color: #99d6ff;
}
.button:disabled {
  background-color: gray;
}
.result {
  background-color: #FFF;
  padding: 20px;
  border-radius: 4px;
  /* display: none; */
  border: #0099ff 2px solid;
}
.item {
  padding: 2px;
  font-size: 20px;
}
.label, label {
  font-weight: 1000;
  color: #0099ff;
}
